@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');
:root{
    --vermelho: hsl(359, 93%, 48%);
}
@keyframes Mariorun {
    from{
        background-position: 0px 70px;
    }
    to{
        background-position: 1500px 70px;
    }
}
body{
    background-image: url(/img/45858.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}
.intro h1{
    padding: 60px;
    background-image: url(/img/mario.png);
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: 1250px 0px;
}
.intro h2{
    background-image: url(/img/mario-2.png);
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: 350px;
    padding: 50px;
}
.intro h1, .intro h2{
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 70px;
    color: var(--vermelho);
}
.summary{
    background-color: rgba(0, 0, 0, 0.502);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 30px;
    border: 5px dotted red;
    margin: 0px 200px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    background-image: url(/img/Mario_correndo.gif);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 0px 70px;
    animation-name: Mariorun;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    box-shadow: 0px 3px 3px black;
}
.summary a{
    font-family: 'New Super Mario Font U', sans-serif;
    color: rgba(194, 24, 24, 0.832);
    font-size: 25px;
    text-decoration: none;
}
.summary a:hover{
    color: var(--vermelho);
    scale: 190%;
}
.preamble h3{
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 28px;
    color: var(--vermelho);
    background-image: url(/img/Headergif.gif);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 1350px 1px ;
    padding: 35px;
}
.preamble{
    background-color: #87B940;
    margin: 0px 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-image: url(/img/Headergif.gif);
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 10px;
    box-shadow: 6px 2px 4px 3px black;
}
.preamble p{
    font-size: 19px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;    
}
.supporting{
    margin-top: 20px;
    display: flex;
}
.supporting h3{
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 40px;
    text-align: center;
    color: var(--vermelho);
}
.supporting a{
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 20px;
    color: rgb(175, 17, 17);
    text-decoration: none;
}
.supporting a:hover{
    color: red;
}
.supporting p{
   font-size: 15px; 
   color: black;
   font-weight: 700;
}
.explanation, .participation, .benefits, .requirements{
    margin: 0px 10px;  
    padding: 10px;
    border-radius: 30px;
    font-family: sans-serif;
    box-shadow: 0 5px 5px black;
    background-color: #2DBDEF;
}
footer{
    background-color: #2DBDEF;
    border-radius: 10px;
    background-image: url(/img/tubo.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 2px 200px;
}
footer a{
    padding: 0 20px;
}  
.wrapper{
    background-color: #0000009d;
    display: flex;
    justify-content:space-around;
        margin-top: 30px;
    background-image: url(/img/Super-Mario-Emblem.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 800px 140px;
}
.wrapper h3{
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 35px;    
    color: var(--vermelho);
}
.wrapper a{
    text-decoration: none;
    color: white;
}
.wrapper a:hover{
    color: red;
}
.wrapper li{
    margin: 20px 0px;
    font-family: sans-serif;
    color: white;
    font-size: 19px;
}